In [2]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('exFuelConsumption.csv')
df.head()

,MODELYEAR,MAKE,MODEL,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,CO2EMISSIONS
0,2014,ACURA,ILX,2.0,4,9.9,196
1,2014,ACURA,ILX,2.4,4,11.2,221
2,2014,ACURA,ILX HYBRID,1.5,4,6.0,136
3,2014,ACURA,MDX 4WD,3.5,6,12.7,255
4,2014,ACURA,RDX AWD,3.5,6,12.1,244

In [6]:
df.shape

(1067, 7)

In [14]:
# Lấy 80% dữ liệu để tính
head_df = df[:round(df.shape[0]*0.8)]
head_df

,MODELYEAR,MAKE,MODEL,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,CO2EMISSIONS
0,2014,ACURA,ILX,2.0,4,9.9,196
1,2014,ACURA,ILX,2.4,4,11.2,221
2,2014,ACURA,ILX HYBRID,1.5,4,6.0,136
3,2014,ACURA,MDX 4WD,3.5,6,12.7,255
4,2014,ACURA,RDX AWD,3.5,6,12.1,244
...,...,...,...,...,...,...,...
849,2014,NISSAN,MURANO AWD,3.5,6,13.2,271
850,2014,NISSAN,NV200 CARGO VAN,2.0,4,10.0,214
851,2014,NISSAN,PATHFINDER,3.5,6,12.0,244
852,2014,NISSAN,PATHFINDER 4WD,3.5,6,12.3,253
853,2014,NISSAN,PATHFINDER HYBRID 4WD,2.5,4,9.1,202

In [18]:
# Lấy 20% dữ liệu để test
tail_df = df[-round(df.shape[0]*0.2):]
tail_df

,MODELYEAR,MAKE,MODEL,ENGINESIZE,CYLINDERS,FUELCONSUMPTION_CITY,CO2EMISSIONS
854,2014,NISSAN,QUEST,3.5,6,12.5,255
855,2014,NISSAN,ROGUE,2.5,4,9.2,191
856,2014,NISSAN,ROGUE AWD,2.5,4,9.5,198
857,2014,NISSAN,SENTRA,1.8,4,7.8,161
858,2014,NISSAN,SENTRA,1.8,4,8.7,179
...,...,...,...,...,...,...,...
1062,2014,VOLVO,XC60 AWD,3.0,6,13.4,271
1063,2014,VOLVO,XC60 AWD,3.2,6,13.2,264
1064,2014,VOLVO,XC70 AWD,3.0,6,13.4,271
1065,2014,VOLVO,XC70 AWD,3.2,6,12.9,260
1066,2014,VOLVO,XC90 AWD,3.2,6,14.9,294